name: CI
on:
  push:
    branches: [master]
    paths-ignore: ['**/*.md', '.gitignore']
  pull_request:
    branches: [master]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix flake check --no-build
