[Desktop Entry]
Name=Discord
Exec=vesktop %U
Icon=$HOME/.dotfiles/desktop/icons/vesktop.svg
Type=Application
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/discord;
