[Desktop Entry]
Type=Application
Name=Neovim
Comment=Edit files with Neovim
Exec=nvim %F
Terminal=true
Icon=$HOME/.icons/nvim.svg
Categories=Utility;Development;TextEditor;
MimeType=text/markdown;text/plain;
Path=$HOME/Downloads
