[Desktop Entry]
Type=Application
Name=Neovim (AppImage)
Comment=Edit files with Neovim (AppImage)
Exec=$HOME/applications/nvim.AppImage %F
Terminal=true
Icon=$HOME/.icons/nvim.svg
Categories=Utility;Development;TextEditor;
MimeType=text/markdown;text/plain;
Path=$HOME/Downloads
