[Desktop Entry]
Type=Application
Name=Obsidian
Exec=$HOME/applications/obsidian.AppImage
Icon=$HOME/.icons/obsidian-icon.svg
Categories=Utility;

MimeType=x-scheme-handler/obsidian;text/html;
